.game-view {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // transition: 0.5s all ease-in-out;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // transition: 0.5s all ease-in-out;
    z-index: -1;
  }
  &_bg1 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave1.jpg') center /
        cover no-repeat;
    }
  }
  &_bg2 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave2.jpg') center /
        cover no-repeat;
    }
  }
  &_bg3 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave3.jpg') center /
        cover no-repeat;
    }
  }
  &_bg4 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave4.jpg') center /
        cover no-repeat;
    }
  }
  &_bg5 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave5.jpg') center /
        cover no-repeat;
    }
  }
  &_bg6 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave6.jpg') center /
        cover no-repeat;
    }
  }
  &_bg7 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave7.jpg') center /
        cover no-repeat;
    }
  }
  &_bg8 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave8.jpg') center /
        cover no-repeat;
    }
  }
  &_bg9 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave9.jpg') center /
        cover no-repeat;
    }
  }
  &_bg10 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave10.jpg') center /
        cover no-repeat;
    }
  }
  &_bg11 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave11.jpg') center /
        cover no-repeat;
    }
  }
  &_bg12 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave12.jpg') center /
        cover no-repeat;
    }
  }
  &_bg13 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave13.jpg') center /
        cover no-repeat;
    }
  }
  &_bg14 {
    &::after {
      background: url('../../assets/images/gameViewBg/bg-cave14.jpg') center /
        cover no-repeat;
    }
  }
}
