.app {
  height: 100vh;
  width: 100vw;
  // overflow-y: scroll;

  margin: 0 auto;

  // background-color: teal;
  // background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
}

@media (min-width: 475px) {
  .app {
    width: 475px;
    margin: 0 auto;
  }
}