@import '../../style/variables.scss';

.finish-view {
  position: relative;
  width: 100%;
  height: 100%;
  &_bg1 {
    background: url('../../assets/images/finishViewBg/view.jpg') center / cover
      no-repeat;
  }
  &_bg2 {
    background: url('../../assets/images/finishViewBg/view1.jpg') center / cover
      no-repeat;
  }
  &_bg3 {
    background: url('../../assets/images/finishViewBg/view2.jpg') center / cover
      no-repeat;
  }
  &_bg4 {
    background: url('../../assets/images/finishViewBg/view3.jpg') center / cover
      no-repeat;
  }
  &_bg5 {
    background: url('../../assets/images/finishViewBg/view4.jpg') center / cover
      no-repeat;
  }
  &_bg6 {
    background: url('../../assets/images/finishViewBg/view5.jpg') center / cover
      no-repeat;
  }
  &_bg7 {
    background: url('../../assets/images/finishViewBg/view6.jpg') center / cover
      no-repeat;
  }
  &_bg8 {
    background: url('../../assets/images/finishViewBg/view7.jpg') center / cover
      no-repeat;
  }
  &_bg9 {
    background: url('../../assets/images/finishViewBg/view8.jpg') center / cover
      no-repeat;
  }
  &__close-btn {
    position: absolute;
    bottom: 6vh;
    right: 10vw;
    display: block;
    padding: 15px 20px;
    color: #22223b;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: $greyBg;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 0.4s box-shadow ease-in-out;
    &_press {
      box-shadow: #dee2e6 0px 22px 40px 4px, #dee2e6 0px -22px 40px 4px;
    }
  }
}
