@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.finish-view {
  position: relative;
  width: 100%;
  height: 100%;
  &_bg1 {
    background: url('../../assets/images/finishViewBg/view.jpg') center / cover
      no-repeat;
  }
  &_bg2 {
    background: url('../../assets/images/finishViewBg/view1.jpg') center / cover
      no-repeat;
  }
  &_bg3 {
    background: url('../../assets/images/finishViewBg/view2.jpg') center / cover
      no-repeat;
  }
  &_bg4 {
    background: url('../../assets/images/finishViewBg/view3.jpg') center / cover
      no-repeat;
  }
  &_bg5 {
    background: url('../../assets/images/finishViewBg/view4.jpg') center / cover
      no-repeat;
  }
  &_bg6 {
    background: url('../../assets/images/finishViewBg/view5.jpg') center / cover
      no-repeat;
  }
  &_bg7 {
    background: url('../../assets/images/finishViewBg/view6.jpg') center / cover
      no-repeat;
  }
  &_bg8 {
    background: url('../../assets/images/finishViewBg/view7.jpg') center / cover
      no-repeat;
  }
  &_bg9 {
    background: url('../../assets/images/finishViewBg/view8.jpg') center / cover
      no-repeat;
  }
  &__close-btn {
    @include btn-next;
  }
}
